:root {
    --background-color: #a3a1f8;
    --bg-gradient: #e7eff8;
    --bg-bar: #3949AB;
    --shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.075), 0 8px 10px -6px rgba(0, 0, 0, 0.075);
    --text: #616161;
    --text2: #414447;
}

body {
    display: block;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background: var(--bg-gradient);
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 15px;
}
input{
    width: 100%;
    border-radius: 4px;
    height: 30px;
    border: 2px solid #dfdbf5
}
h2,h3{
    text-transform: uppercase;
}
select{
    border: 1px solid #dfdbf5;
    background: white;
    height: 30px;
    text-align: right;
    color: var(--text);
}

.top-bar {
    display: flex;
    font-size: larger;
    justify-content: space-between;
    padding: 1rem;
    gap: 2rem;
    background-color: var(--bg-bar);
    color: #eaeaea;
    font-weight: 600;
}

.container-receipt {
    gap: 8px;
    margin-top: 3%;
    margin-left: 2%;
    text-align:left;
    width: 30%;
    max-width: 450px;
    border: 1px solid #dfdbf5;
    border-radius: 14px;
    padding: 20px;
    color: var(--text);
    background:white;
    box-shadow: var(--shadow);
}

.total-calculated{
    max-width: 100%;
    border: 1px solid #dfdbf5;
    padding: 10px 15px;
    text-align: right;
}
.price-calculated{
    padding: 2px;
    color: var(--bg-bar);
    font-size: large;
    font-weight: 600;
}
.container-price-quantity{
    display: flex;
    gap: 20px;
    align-items: flex-end;
}
.quantity-price-group{
    display: flex;
    flex-direction: column;
    flex: 1;
}
